@{
    ViewBag.Title = "Informações Importantes - Flytour Viagens - Pacotes de Viagem, Passagens Aéreas, Hotéis, Roteiros, Carros, Cruzeiros e Ingressos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.cadernos {
        width: 997px;
        margin: 0 auto;
    }

        div.cadernos div {
            float: left;
            padding: 10px;
            padding-bottom: 55px;
        }
</style>

<div class="cadernos">
    <h2 style="color: #F27540; line-height: 68px; margin-left: 13px;">Informações Importantes</h2>
    <br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Alfandega.pdf" style="text-decoration: none">
        Alfandega
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Bagagem.pdf" style="text-decoration: none">
        Bagagem
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Conversor-de-Medidas.pdf" style="text-decoration: none">
        Conversor de Medidas
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Documentacao-para-Viagem.pdf" style="text-decoration: none">
        Documentação para Viagem
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Documentos-exigidos-na-America-do-Sul.pdf" style="text-decoration: none">
        Documentos exigidos na América do Sul
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Duty-Free.pdf" style="text-decoration: none">
        Duty Free
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Formulario-de-Autorizacao-de-Viagem-Internacional-.pdf" style="text-decoration: none">
        Formulário de Autorização de Viagem Internacional para Menores
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Fuso-Horario.pdf" style="text-decoration: none">
        Fuso Horário
    </a><br />
    
    <a href="http://www.flytourviagens.com.br/Informacoes-Importantes/Arquivos/UniaoEuropeia_Extensao_validade_apos_retorno-(1).pdf" style="text-decoration: none;">
        Nova Exigência da União Européia para viagens
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Orientacoes-Gerais-RNE-Estrangeiro.pdf" style="text-decoration: none">
        Orientações Gerais - RNE Estrangeiro
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Basicas/Arquivos/Passaporte.pdf" style="text-decoration: none">
        Passaporte
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes/Vacinas-e-Vistos02.pdf" style="text-decoration: none">
        Vacinas e Vistos
    </a><br />

    <a href="http://www.flytourviagens.com.br/Informacoes-Importantes/Arquivos/Viajando-com-Criancas1.pdf" style="text-decoration: none;">
        Viajando com Crianças
    </a><br />
</div>
