@{
    Layout = null;
}
@model List<FT.Web.Model.Models.DestaqueModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery/jquery.slides.min.js"></script>
    <script src="~/Scripts/jquery/jquery.slides.min.js"></script>
    <script src="~/Scripts/Banners.js"></script>
    <link href="~/Content/Banners.css" rel="stylesheet" />
</head>
<body>
    <div>
        @{
            string slide = "solo";
            if (Model.Count > 1)
            {
                slide = "";
            }
        }
        <div class="slideshow">
            <div class="container">
                <div id="slidesDestaque-@slide">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <a href="@Model[i].LinkDestaque">
                            <div class="slide-1">
                                <div class="slide-1-img">
                                    @for (int j = 0; j < Model[i].DestaqueFotos.Count(); j++)
                                    {
                                        <img src='@Model[i].DestaqueFotos[j].UrlFoto@Model[i].DestaqueFotos[j].CdFoto' width='628' height='328' alt=''>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>