<script src="~/Scripts/Newsletter.js"></script>

<input id="txtNomeNews" type="text" class="watermark" title="Nome" />
<input id="txtMailNews" type="text" class="watermark" title="E-mail" />

<a href="javascript:sendNews();" class="btnNewsss">Enviar</a>