<?xml version="1.0"?>
<connectionStrings>
  <add name="cnBackoffice" connectionString="Data Source=DESENV;User ID=BACKOFFICE;Password=backoffice" />
  <add name="cnCommon" connectionString="Data Source=DESENV;User ID=COMMON;Password=common" />
  <add name="cnHotel" connectionString="Data Source=DESENV;User ID=HOTEL;Password=hotel" />
  <add name="cnCep" connectionString="Data Source=DESENV;User ID=CEP;Password=cep" />
  <add name="cnAereo" connectionString="Data Source=DESENV;User ID=AEREO;Password=aereo" />
  <add name="cnVenda" connectionString="Data Source=DESENV;User ID=VENDA;Password=venda" />
  <add name="cnPacote" connectionString="Data Source=DESENV;User ID=PACOTE;Password=pacote" />
  <add name="cnServico" connectionString="Data Source=DESENV;User ID=SERVICO;Password=servico" />
  <add name="DBBackofficeContext" connectionString="metadata=res://*/DBBackofficeContext.csdl|res://*/DBBackofficeContext.ssdl|res://*/DBBackofficeContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=backoffice;user id=BACKOFFICE&quot;" providerName="System.Data.EntityClient" />
  <add name="DBAereoContext" connectionString="metadata=res://*/DBAereoContext.csdl|res://*/DBAereoContext.ssdl|res://*/DBAereoContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=aereo;user id=AEREO&quot;" providerName="System.Data.EntityClient" />
  <add name="DBHotelContext" connectionString="metadata=res://*/DBHotelContext.csdl|res://*/DBHotelContext.ssdl|res://*/DBHotelContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=hotel;persist security info=True;user id=HOTEL&quot;" providerName="System.Data.EntityClient" />
  <add name="DBPacoteContext" connectionString="metadata=res://*/DBPacoteContext.csdl|res://*/DBPacoteContext.ssdl|res://*/DBPacoteContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=pacote;persist security info=True;user id=PACOTE&quot;" providerName="System.Data.EntityClient" />
  <add name="DBCepContext" connectionString="metadata=res://*/DBCepContext.csdl|res://*/DBCepContext.ssdl|res://*/DBCepContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=cep;persist security info=True;user id=CEP&quot;" providerName="System.Data.EntityClient" />
  <add name="DBFinanceiroContext" connectionString="metadata=res://*/DBFinanceiroContext.csdl|res://*/DBFinanceiroContext.ssdl|res://*/DBFinanceiroContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=Financeiro;persist security info=True;user id=Financeiro&quot;" providerName="System.Data.EntityClient" />
  <add name="cnFinanceiro" connectionString="Data Source=DESENV;User ID=FINANCEIRO;Password=financeiro" />
  <add name="DBIntegracaoContext" connectionString="metadata=res://*/DBIntegracaoContext.csdl|res://*/DBIntegracaoContext.ssdl|res://*/DBIntegracaoContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=integracao;persist security info=True;user id=Integracao&quot;" providerName="System.Data.EntityClient" />
  <add name="DBVendaContext" connectionString="metadata=res://*/DBVendaContext.csdl|res://*/DBVendaContext.ssdl|res://*/DBVendaContext.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=desenv;password=venda;persist security info=True;user id=venda&quot;" providerName="System.Data.EntityClient" />
  <add name="cnIntegracao" connectionString="Data Source=DESENV;User ID=INTEGRACAO;Password=integracao" />
</connectionStrings>


