@{
    ViewBag.Title = "Caderno de Viagens - Flytour Viagens - Pacotes de Viagem, Passagens Aéreas, Hotéis, Roteiros, Carros, Cruzeiros e Ingressos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.cadernos {
        width:997px;
        margin:0 auto;  
    }

    div.cadernos div {
        float: left;
        padding: 10px;
        padding-bottom:55px;
    }
</style>

<div class="cadernos">
    <h2 style="color: #F27540; line-height: 68px;  margin-left: 13px;">Cadernos de Viagem</h2>
    <br />

    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_Sul_Sudeste_Centro_Oeste.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Sul,-Sudeste-e-Centro-Oeste.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Fernando de Noronha.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Fernando-de-Noronha.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>

    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_América_do_Sul.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/America-do-Sul.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_Portugal.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Portugal.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/caderno%20M%C3%A9dio%20e%20Extremo%20Oriente.pdf">
            <img src="http://www.flytourviagens.com.br/Capas/capa-oriente.jpg" style="border: 0px; width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno Grecia atual.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Grecia-2013.jpg" style="border: 0px; width: 117px; height: 150px;" alt="" />
        </a>
    </div>
    <div>
        <a href="/Cadernos-de-Viagem/city-packs.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/city-pack.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />

        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Catálogo_Nordeste.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Nordeste.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Foz do Iguaçu.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Foz-do-Iguacu.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_Caribe_e_Mexico.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Caribe-e-Mexico.jpg" style="width: 117px; height: 150px; border: 0;" alt="" /></a>
    </div>
    <div>

        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Catalogo_Africa.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Capa-Africa.jpg" style="border: 0px; width: 117px; height: 150px;" alt="" /></a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Roteiros Europeus com guias brasileiros.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Capa-Roteiros-Europeus-com-Guia-Brasileiro.jpeg" style="border: 0px; width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/Cruzeiros/pdf-cruzeiros/CRUZEIROS-2013--FLYTOUR.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/cruzeiros.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_Costa_do_Sauípe.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Costa-do-Sauipe.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_Resorts.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Resorts.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno_EUA_e_Canadá.pdf" target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/EUA-e-Canada.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/Caderno Europa Mapaplus.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/capa-mapaplus.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/trem_brasileiro.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/Brasileiros-de-Trem-na-Europa.jpeg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
    <div>
        <a href="http://www.flytourviagens.com.br/static/flyTourViagens/cadernos/passeios-pela-europa.pdf"  target="_blank" >
            <img src="http://www.flytourviagens.com.br/Capas/passeios-pela-europa.jpg" style="width: 117px; height: 150px; border: 0;" alt="" />
        </a>
    </div>
</div>
