.login { display:block; float:left; width:70px; height:27px; background:#ea6209; border:none; margin:0 0 0 20px; color:#FFF; border-radius:0; }

    .divlogin { display: block; float: right; width: 80px; height: 27px; border: none; margin: 0 15px; color: #FFF; border-radius: 0; background: url(/Images/top_login.gif ) no-repeat top #EA6209; }

    .logincompleto { background-color: #FFFFFF; border: 2px solid #EA6209; color: #888888; display: none; height: 250px; margin: 27px 0 27px 129px; position: absolute; width: 222px; z-index: 9999; }

    .lembrarSenha { color: #666666;font-size: 11px;outline-style: none;outline-width: medium; }

    .divLogar { padding-left: 30px; padding-top: 15px; }

    .divLogar label { color: #999; font-size: 12px; }

    .divLogar p.usuario input { 
        display: block; height: 18px; width: 151px; line-height: 20px !important; border:1px solid black;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-bottom: 1px solid #BB410A;
        border-image: none;
        border-radius: 5px;
        border-top: 1px solid #7F2F00;
        color: #999999;
        font-size: 0.8em;
        margin: 8px 0;
        padding: 3px 6px;
    }

    .divLogar p.senha input { 
        height: 18px; width: 115px; line-height: 20px; border:1px solid black; 
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-bottom: 1px solid #BB410A;
        border-image: none;
        border-radius: 5px;
        border-top: 1px solid #7F2F00;
        color: #999999;
        font-size: 0.8em;
        line-height: 34px;
        margin: 8px 0;
        padding: 3px 6px;
    }

    .divLogar p.senha input.logar { height: 25px; width: 31px; border: 0 none; margin: 0; margin-top:8px; padding: 0; background: transparent; overflow: visible; box-shadow: none; background: url(/Images/login_ok.gif ) no-repeat top #EA6209; font-size: 0px; vertical-align:top;  }

    .divLogar p.opcoesLoginLinha1 input { float: left; height: 17px; margin-left: -90px; margin-right: -82px; margin-top: 4px;border: 0px; }

    .divLogar p.opcoesLoginLinha1 label{ height: 10px;font-size: 10px;}

    .divLogar p.opcoesLoginLinha2 input{ float: left;height: 17px;margin-left: -108px;margin-right: -82px;margin-top: 4px;border: 0px;}

    .divLogar p.opcoesLoginLinha2 label{ height: 10px;font-size: 10px;}