@charset "utf-8";
/* Slider Eventos */

/* :::::: Slider :::::: */
div.slidesjs-container {
height: 328px !important;
}
ul.slidesjs-pagination {
position:relative;
top: 3px;
float:right;
}
ul.slidesjs-pagination li {
float: left;
margin-right: 5px;
}
ul.slidesjs-pagination li a {
display: block;
background:url(../images/bullets_slide_02.png) center no-repeat;
height: 17px;
width: 17px;
background-position: 0px 0px;
line-height: 0;
font-size: 0;
color: transparent;
}
ul.slidesjs-pagination li a.active {
background-position: -60px -20px;
}
ul.slidesjs-pagination li a:hover {
background-position: -60px -40px;
}

