@model List<FT.Web.Model.Models.PacoteDestaqueModel>
@if (Model.Count != 0)
{ 
    <div class="">
        <p><strong>Pacotes:</strong></p>
        @foreach (var item in Model)
        {
            <a href="~/Pacote/LoadDetalhePacoteMatriz/@item.CodigoPacote/@item.DataInicio.ToString("yyyy-MM-dd")/@item.CodigoCidadeOrigem" onclick="$('.loadingDefault').show();">Pacote @item.NomeCidadeDestino</a>
        }
    </div>
}