@*@model FT.Web.Model.Models.CarroCotacaoLojasModel


<tr>
    <td>
        <input type="radio" name="rdLoja" value="@Model.CodigoLoja" /></td>
    <td>@Model.NomeLoja</td>
    <td>@Model.Valor</td>
</tr>*@