@{
    ViewBag.Title = String.Format("{0} - Enviado com sucesso!", ViewBag.Title);
    Layout = null;
}

@Scripts.Render("~/bundles/jquery-and-validations")

<link href="~/Content/Master.css" rel="stylesheet" />
<link href="~/Content/css/style.css" type="text/css" rel="stylesheet" />

<!-- Conteúdos -->
<div class="conteudo-interna">
    <h2 class="titulo-3">Institucional - Fale conosco</h2>
    <h1 class="titulo-1-@ViewBag.SiteCSS">Enviado com sucesso</h1>
    <hr class="hr-titulo-pagina" />
</div>
