@{
    ViewBag.Title = "Erro404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #outer {
        background: url('../images/bgerro.gif');
        width: 100%;
        text-align: center;
        height: 450px;
    }

    #inner {
        display: inline-block;
    }
</style>

<div id="outer">
    <div id="inner">
        <img style="margin-top: 45px; margin-right: 15px;" src="~/Images/404.gif" />
    </div>
</div>

