@{
    ViewBag.Title = "DestinoInternacional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Destinos.css" rel="stylesheet" />

<div class="content">
    <div class="logoDestInt">
        <img src="~/Images/logodestint.jpg" />
        <h2 class="inter">Destinos Internacionais</h2>
    </div>

    <div class="destinos">
        <div class="destino">
            <a href="#" class="inter"></a>
            <p class="inter">Miami</p>
        </div>
    </div>
</div>
