@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" style="height: 300px;">
    <br />
    <br />
    <div style="text-align: center;">
        <h2 style="color: red;">Acesso Negado</h2>
        <br />
        <h3><a href="/">Ir para a Home</a></h3>
    </div>
</div>
