@{
    ViewBag.Title = "Administrativo - Flytour Viagens - Pacotes de Viagem, Passagens Aéreas, Hotéis, Roteiros, Carros, Cruzeiros e Ingressos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrativo</h2>
