@{
    ViewBag.Title = "Flytour Consolidadora";
    Layout = "~/Views/Shared/_LayoutConsolidadora.cshtml";
}
<script src="~/Scripts/ResizeIframe.js"></script>
<style>
    .content {
        clear: both;
        margin: auto;
        width: 980px;
        height: 100%;
        padding: 10px 0 0 0;
    }
</style>

<div class="content">
    <iframe name="Stack" src="@ViewBag.CaminhoHotSite" scrolling="no" frameborder="0" id="iframes" width="980"
         onload="AjusteHeightFrame(this.id);"'></iframe>
</div>

